= render 'header'
%h4 Fourth Guardian

= form_for [@will, @guardian] do |f|
  = f.hidden_field :exec, value: "forth"
  = f.fields_for :forth_guardian_general_detail do |builder|
    = render "general_details/general_details_form", :builder => builder, :nested_origin => @guardian.forth_guardian_general_detail


  = f.submit 'Proceed', class: "button radius"

.button-region
  = form_for [@will, @guardian] do |f|
    = f.hidden_field :exec, value: "forth"
    = f.hidden_field :forth_guardian, value: false
    = f.submit 'Remove this guardian', class: "cancel-forward button radius right"