= render 'header'
%h4 Fourth Replacement Guardian

= form_for [@will, @guardian] do |f|
  = f.hidden_field :exec, value: "forth_rep"
  = f.fields_for :forth_replacement_guardian_general_detail do |builder|
    = render "general_details/general_details_form", :builder => builder, :nested_origin => @guardian.forth_replacement_guardian_general_detail

  = f.submit 'Proceed', class: "button radius"