= render 'header'
%h4 Second Guardian


= form_for [@will, @guardian] do |f|
  = f.hidden_field :exec, value: "second"
  = f.fields_for :second_guardian_general_detail do |builder|
    = render "general_details/general_details_form", :builder => builder, :nested_origin => @guardian.second_guardian_general_detail
  .field.add-more-option
    .left
      = question "05040"
      = f.check_box :third_guardian

    = f.submit 'Proceed', class: "button radius right"

.button-region
  = form_for [@will, @guardian] do |f|
    = f.hidden_field :exec, value: "second"
    = f.hidden_field :second_guardian, value: false
    = f.submit 'Remove this guardian', class: "cancel-forward button radius right"