- provide(:title, "New Will")
= form_for @will do |f|


  .field
    = f.label :title, "Please give this will a title"
    = f.text_field :title
  .field
    = f.check_box :tc
    = f.label :tc, "Please tick to confirm you have read and agree to our #{link_to 'Terms & Conditions', terms_and_conditions_path, target: '_blank'}".html_safe
  .actions.button-region
    = f.submit 'Proceed', class: "button radius"
