- if @primary_residuaries.any?
  %p
    %b= "#{@count+=1}. RESIDUARY"
  %p
    = @count.to_s + ".1"

    - if @secondary_percents.count == @primary_residuaries.count

      The Trustees will hold the remainder of my Estate upon trust to sell it or retain it to pay my debts, legacies, taxes, funeral and executorship expenses, upon which the remainder shall be distributed as follows:

      - letter = "`"
      - @primary_residuaries.each do |benificiary| 
        - letter.next!
        = benificiary_details benificiary, benificiary.share, "percentage", letter

    - elsif @equal_shares.count == @primary_residuaries.count

      The Trustees will hold the remainder of my Estate upon trust to sell it or retain it to pay my debts, legacies, taxes, funeral and executorship expenses, upon which the remainder shall be distributed in equal shares between:

      - letter = "`"
      - @primary_residuaries.each do |benificiary| 
        - letter.next!
        = benificiary_details benificiary, benificiary.share, "equal_shares", letter

    - elsif @trustees.count == @primary_residuaries.count

      The Trustees will hold the remainder of my Estate upon trust to sell it or retain it to pay my debts, legacies, taxes, funeral and executorship expenses, upon which the remainder shall be distributed in such percentages as the Trustees elect in their absolute discretion between:

      - letter = "`"
      - @primary_residuaries.each do |benificiary|
        - letter.next!
        = benificiary_details benificiary, benificiary.share, "trustees", letter

    - elsif @equal_shares.count + @trustees.count == @primary_residuaries.count

      The Trustees will hold the remainder of my Estate upon trust to sell it or retain it to pay my debts, legacies, taxes, funeral and executorship expenses, upon which the remainder shall be distributed in such percentages as the Trustees elect in their absolute discretion between:

      - letter = "`"
      - @trustees.each do |benificiary|
      - letter.next!
        = benificiary_details benificiary, benificiary.share, "trustees", letter

      %p the remainder to be shared equally between:

      - letter = "`"
      - @equal_shares.each do |benificiary| 
        - letter.next!
        = benificiary_details benificiary, benificiary.share, "equal_shares", letter


    - elsif @secondary_percents.count + @equal_shares.count == @primary_residuaries.count

      The Trustees will hold the remainder of my Estate upon trust to sell it or retain it to pay my debts, legacies, taxes, funeral and executorship expenses, upon which the remainder shall be distributed as follows:

      - letter = "`"
      - @secondary_percents.each do |benificiary|
        - letter.next!
        = benificiary_details benificiary, benificiary.share, "percentage", letter

      %p the remainder to be shared equally between:

      - letter = "`"
      - @equal_shares.each do |benificiary| 
        - letter.next!
        = benificiary_details benificiary, benificiary.share, "equal_shares", letter

    - elsif @secondary_percents.count + @trustees.count == @primary_residuaries.count

      The Trustees will hold the remainder of my Estate upon trust to sell it or retain it to pay my debts, legacies, taxes, funeral and executorship expenses, upon which the remainder shall be distributed as follows:

      - letter = "`"
      - @secondary_percents.each do |benificiary|
        - letter.next!
        = benificiary_details benificiary, benificiary.share, "percentage", letter

      %p the remainder to be shared in such percentages as the Trustees elect in their absolute discretion between:

      - letter = "`"
      - @trustees.each do |benificiary|
        - letter.next!
        = benificiary_details benificiary, benificiary.share, "trustees", letter

    - else

      The Trustees will hold the remainder of my Estate upon trust to sell it or retain it to pay my debts, legacies, taxes, funeral and executorship expenses, upon which the remainder shall be distributed as follows:

      - letter = "`"
      - @secondary_percents.each do |benificiary|
        - letter.next!
        = benificiary_details benificiary, benificiary.share, "percentage", letter

      %p the remainder to be shared in such percentages as the Trustees elect in their absolute discretion between:

      - letter = "`"
      - @trustees.each do |benificiary|
        - letter.next!
        = benificiary_details benificiary, benificiary.share, "trustees", letter

      %p and any remainder to be shared equally between:

      - letter = "`"
      - @equal_shares.each do |benificiary| 
        - letter.next!
        = benificiary_details benificiary, benificiary.share, "equal_shares", letter

  - if @secondary_residuaries.any?
    %p= "#{@count}.2 If any above mentioned residuary gift fails, then the Trustees will hold it and pay it to:"
    %p
      - if @secondary_percents.count == @secondary_residuaries.count

        The Trustees will hold the remainder of my Estate upon trust to sell it or retain it to pay my debts, legacies, taxes, funeral and executorship expenses, upon which the remainder shall be distributed as follows:

        - letter = "`"
        - @secondary_residuaries.each do |benificiary| 
          - letter.next!
          = benificiary_details benificiary, benificiary.share, "percentage", letter

      - elsif @secondary_equal_shares.count == @secondary_residuaries.count

        The Trustees will hold the remainder of my Estate upon trust to sell it or retain it to pay my debts, legacies, taxes, funeral and executorship expenses, upon which the remainder shall be distributed in equal shares between:

        - letter = "`"
        - @secondary_residuaries.each do |benificiary| 
          - letter.next!
          = benificiary_details benificiary, benificiary.share, "equal_shares", letter

      - elsif @secondary_trustees.count == @secondary_residuaries.count

        The Trustees will hold the remainder of my Estate upon trust to sell it or retain it to pay my debts, legacies, taxes, funeral and executorship expenses, upon which the remainder shall be distributed in such percentages as the Trustees elect in their absolute discretion between:

        - letter = "`"
        - @secondary_residuaries.each do |benificiary|
          - letter.next!
          = benificiary_details benificiary, benificiary.share, "trustees", letter

      - elsif @secondary_equal_shares.count + @secondary_trustees.count == @secondary_residuaries.count

        The Trustees will hold the remainder of my Estate upon trust to sell it or retain it to pay my debts, legacies, taxes, funeral and executorship expenses, upon which the remainder shall be distributed in such percentages as the Trustees elect in their absolute discretion between:

        - letter = "`"
        - @secondary_trustees.each do |benificiary|
        - letter.next!
          = benificiary_details benificiary, benificiary.share, "trustees", letter

        %p the remainder to be shared equally between:

        - letter = "`"
        - @secondary_equal_shares.each do |benificiary| 
          - letter.next!
          = benificiary_details benificiary, benificiary.share, "equal_shares", letter


      - elsif @secondary_percents.count + @secondary_equal_shares.count == @secondary_residuaries.count

        The Trustees will hold the remainder of my Estate upon trust to sell it or retain it to pay my debts, legacies, taxes, funeral and executorship expenses, upon which the remainder shall be distributed as follows:

        - letter = "`"
        - @secondary_percents.each do |benificiary|
          - letter.next!
          = benificiary_details benificiary, benificiary.share, "percentage", letter

        %p the remainder to be shared equally between:

        - letter = "`"
        - @secondary_equal_shares.each do |benificiary| 
          - letter.next!
          = benificiary_details benificiary, benificiary.share, "equal_shares", letter

      - elsif @secondary_percents.count + @secondary_trustees.count == @secondary_residuaries.count

        The Trustees will hold the remainder of my Estate upon trust to sell it or retain it to pay my debts, legacies, taxes, funeral and executorship expenses, upon which the remainder shall be distributed as follows:

        - letter = "`"
        - @secondary_percents.each do |benificiary|
          - letter.next!
          = benificiary_details benificiary, benificiary.share, "percentage", letter

        %p the remainder to be shared in such percentages as the Trustees elect in their absolute discretion between:

        - letter = "`"
        - @secondary_trustees.each do |benificiary|
          - letter.next!
          = benificiary_details benificiary, benificiary.share, "trustees", letter

      - else

        The Trustees will hold the remainder of my Estate upon trust to sell it or retain it to pay my debts, legacies, taxes, funeral and executorship expenses, upon which the remainder shall be distributed as follows:

        - letter = "`"
        - @secondary_percents.each do |benificiary|
          - letter.next!
          = benificiary_details benificiary, benificiary.share, "percentage", letter

        %p the remainder to be shared in such percentages as the Trustees elect in their absolute discretion between:

        - letter = "`"
        - @secondary_trustees.each do |benificiary|
          - letter.next!
          = benificiary_details benificiary, benificiary.share, "trustees", letter

        %p and any remainder to be shared equally between:

        - letter = "`"
        - @secondary_equal_shares.each do |benificiary| 
          - letter.next!
          = benificiary_details benificiary, benificiary.share, "equal_shares", letter

