%table
  %thead
    %tr
      %th{colspan:"2"}
        %h5 Personal Details
  %tr
    %th= question "01020"
    %td= @testator.phone_no.try(:humanize)
  %tr  
    %th= question "01030"
    %td= @testator.gender.try(:humanize)
  %tr  
    %th= question "01040"
    %td= @testator.dob
  %tr  
    %th= question "01050"
    %td= @testator.domicile_country
  %tr  
    %th= question "01060"
    %td= @testator.children.try(:humanize)
  %tr  
    %th= question "01070"
    %td= @testator.children_age.try(:yesno)
  %tr  
    %th= question "01080"
    %td= @testator.planning_marrige.try(:yesno)
  - if @testator.planning_marrige
    %tr  
      %th= question "01090"
      %td= @testator.effective_post_marrige.try(:yesno)
  %tr  
    %th= question "01110"
    %td= @testator.effective_post_death_sans_marrige.try(:yesno)
  %tr  
    %th= question "01130"
    %td= @testator.mirror_will.try(:humanize)
  %tr  
    %th= "Name"
    %td= @testator_details.full_name
  %tr  
    %th= "Address"
    %td= @testator_details.full_address

- if @partner
  - if @testator.mirror_will == "yes" || @testator.planning_marrige
    %table
      %thead
        %tr
          %th{colspan:2}
            %h5 Mirror Will Details
      - if @partner_details
        %tr  
          %th Name
          %td= @partner_details.full_name
        %tr  
          %th Address
          %td= @partner_details.full_address
      %tr
        %th Phone No
        %td= @partner.phone_no.try(:humanize)
      %tr
        %th Gender
        %td= @partner.gender.try(:humanize)
      %tr
        %th Date of Birith
        %td= @partner.dob
      %tr
        %th Domicile Country
        %td= @partner.domicile_country.try(:humanize)

%table
  %thead
    %tr
      %th{colspan:2}
        %h5 Funeral
  %tr
    %th= question "02010"
    %td= @funeral.preference.try(:humanize)
  %tr
    %th= question "02020"
    %td= @funeral.wishes.try(:humanize)
  %tr
    %th= question "02030"
    %td= @funeral.donate_organs.try(:humanize)
  %tr
    %th= question "02040"
    %td= @funeral.specific_organs.try(:humanize)

%table
  %thead
    %tr
      %th{colspan:2}
        %h5 Executors
  %tr
    %th Notary Express
    %td= @executor.notary_express.try(:yesno)
  - @execs.each_with_index do |exec, i|
    - if exec
      %tr
        %td{colspan:2, class:"summary"}
          %h6= "Executor #{i+1}"
      %tr
        %th Name
        %td= exec.full_name
      %tr
        %th Address
        %td= exec.full_address

  - @exec_reps.each_with_index do |exec, i|
    - if exec
      %tr
        %td{colspan:2, class:"summary"}
          %h6= "Replacement Executor #{i+1}"
      %tr
        %th Name
        %td= exec.full_name
      %tr
        %th Address
        %td= exec.full_address

- if @guardians || @guardians_rep
  %table
    %thead
      %tr
        %th{colspan:2}
          %h5 Guardians
    - @guardians.each_with_index do |exec, i|
      - if exec
        %tr
          %td{colspan:2, class:"summary"}
            %h6= "Guardian #{i+1}"
        %tr
          %th Name
          %td= exec.full_name
        %tr
          %th Address
          %td= exec.full_address
    - @guardians_rep.each_with_index do |exec, i|
      - if exec
        %tr
          %td{colspan:2, class:"summary"}
            %h6= "Replacement Guardian #{i+1}"
        %tr
          %th Name
          %td= exec.full_name
        %tr
          %th Address
          %td= exec.full_address

%table
  %thead
    %tr
      %th{colspan:2}
        %h5 Cash Gifts
  - @cash_gifts.each_with_index do |cash_gift, i|
    %tr
      %td{colspan:2, class:"summary"}
        %h6= "Gift #{i+1}"
    - if cash_gift.shared_to == "no"
      %tr
        %th Name
        %td= cash_gift.full_name
      %tr
        %th Address
        %td= cash_gift.full_address
    - else
      %tr
        %td Shared to
        %td= cash_gift.shared_to.try(:humanize)
    %tr
      %th= "Amount"
      %td= cash_gift.amount.try(:humanize)
    %tr
      %th= question "06040"
      %td= cash_gift.certain_age.try(:humanize)

%table
  %thead
    %tr
      %th{colspan:2}
        %h5 Charitable Donations
  - @charitable_donations.each do |cd|
    %tr
      %td{colspan:2, class:"summary"}
        %h6= cd.popular_charity ? cd.popular_charity_name : cd.name
    - unless cd.popular_charity
      %tr  
        %th= "Name"
        %td= cd.name.try(:humanize)
      %tr  
        %th= "Address"
        %td= cd.full_address
    - else
      %tr  
        %th= "Name"
        %td= cd.popular_charity_name.try(:humanize)
    %tr  
      %th= "Amount"
      %td= cd.amount.try(:humanize)

- if @properties.any?
  - @properties.each_with_index do |property|
    %table
      %thead
        %tr
          %th{colspan:2}
            %h5 Property
      %tr
        %th Land Registry Number
        %td= property.land_reg_number.try(:humanize)
      %tr
        %th Address
        %td= property.full_address
      %tr
        %th Sole Residence?
        %td= property.sole_residence.try(:yesno)
      %tr
        %th= question "08030"
        %td= property.recipient_no
      %tr
        %th= question "08040"
        %td= property.joint_or_common.try(:humanize)
      %tr
        %th= question "08050"
        %td= property.responsible_for_charges.try(:yesno)
      %tr
        %th= question "08060"
        %td= property.as_cash_if_sold.try(:yesno)
      %tr
        %th= question "08070"
        %td= property.held_in_trust.try(:yesno)
      %tr
        %th= question "08080"
        %td= property.life_beneficiary_no
      - property.beneficiaries.each_with_index do |ben, i|
        %tr
          %td{colspan:2, class:"summary"}
            = "Beneficiary #{i+1}"
        %tr  
          %th= "Name"
          %td= ben.full_name
        %tr  
          %th= "Address"
          %td= ben.full_address
      - property.life_beneficiaries.each_with_index do |ben, i|
        %tr
          %td{colspan:2, class:"summary"}
            = "Life Beneficiary #{i+1}"
        %tr  
          %th= "Name"
          %td= ben.full_name
        %tr  
          %th= "Address"
          %td= ben.full_address

%table
  %thead
    %tr
      %th{colspan:2}
        %h5 Personal Gifts
  - @personal_gifts.each do |gift|
    %tr  
      %th= "Name"
      %td= gift.full_name
    %tr  
      %th= "Address"
      %td= gift.full_address
    %tr  
      %th= "Description"
      %td= gift.description.try(:humanize)
    %tr  
      %th= question "09030"
      %td= gift.as_cash_if_sold.try(:yesno)

- if @residuaries.any?
  - @residuaries.each_with_index do |res, i|
    %table
      %thead
        %tr
          %th{colspan:2}
            %h5= "Residuary #{i+1}"
      %tr
        %th= "Beneficiary"
        %td= res.residuary_type.try(:humanize)
      - if res.residuary_type == "Individual"
        %tr  
          %th= "Name"
          %td= res.individual_residuary_general_detail.full_name
        %tr  
          %th= "Address"
          %td= res.individual_residuary_general_detail.full_address
      - if res.residuary_type == "Charity"
        %tr  
          %th= "Name"
          %td= res.charity_residuary_general_detail.name.try(:humanize)
        %tr  
          %th= "Address"
          %td= res.charity_residuary_general_detail.full_address
      %tr
        %th= "Share"
        %td= res.share.try(:humanize)

- if @request.requests
  %table
    %thead
      %tr
        %th{colspan:2}
          %h5 Request
    %tr
      %th= question "11020"
      %td= @request.specific.try(:humanize)
