%h1 Your Wills
= link_to("New Will", new_will_path, class:"button")
%table
  %tr
    %th Alias
    %th Created on
    %th Last Updated
    %th
    %th

  - @wills.each do |will|
    %tr
      %td= will.title
      %td= will.created_at.strftime("%d %b %Y")
      %td= will.updated_at.strftime("%d %b %Y")
      - if will.complete
        - if will.order && will.order.status == "Completed"
          %td= link_to 'Download', will_purchase_path(will)
        - else
          %td= link_to 'Purchase', will
      - else
        %td= link_to 'Resume', will