%h1 Your Final Will is ready

- if @will.order && @will.order.status == "Completed"
  %hr
  %p You can download your will below at any time
  %hr

  #page-one.purchase
    .page
      .intro
        = image_tag("logo.png")
        %p 
          Last Will and Testament
          %br
          of
          %br
          = @testator_details.full_name
      .protocol
        %p Protocol Z1000

  %hr
  = link_to("Download", will_final_will_path(@will, :format => 'pdf'), class: "button radius", download: "will")
  - if @will.mirror_will == 'yes'
    = link_to("Download Mirror will", will_mirror_will_path(@will, :format => 'pdf'), class: "button radius", download: "will")
- else
  %p You can purchase your will now and download at any time in the future
  %hr

  #page-one.purchase
    .page
      .intro
        = image_tag("logo.png")
        %p 
          Last Will and Testament
          %br
          of
          %br
          = @testator_details.full_name
      .protocol
        %p Protocol Z1000
  %hr

  %h3 Purchasing options

  %hr

  %table.order-comp
    %thead
      %tr
        %th.blank.title
        %th Express Service
        %th Gold Service
    %tbody
      %tr
        %td.title Instantly emailed to you
        %td.true
        %td
      %tr.odd
        %td.title Instructions for signing
        %td.true
        %td.true
      %tr
        %td.title We keep a copy on file
        %td.true
        %td.true
      %tr.odd
        %td.title Review within 48 hours by a qualified lawyer
        %td
        %td.true
      %tr
        %td.title Two bound wills posted to you
        %td
        %td.true 
      %tr.odd
        %td.title Electronic copy emailed to you
        %td.true
        %td.true
      %tr
        %td.title Free storage for your signed will
        %td
        %td.true
      %tr.odd
        %td
        - if @will.mirror_will == 'yes'
          %td.price
            Price: £50.00
            %br
            VAT at 20%: £10.00
            %br
            %b Total: £60
          %td.price
            Price: £100.00
            %br
            VAT at 20%: £20.00
            %br
            %b Total: £120
        - else
          %td.price
            Price: £25.00
            %br
            VAT at 20%: £5.00
            %br
            %b Total: £30
          %td.price
            Price: £50.00
            %br
            VAT at 20%: £10.00
            %br
            %b Total: £60
      %tr
        %td
        %td.purchase
          .order-form
            = form_for @order do |f|

              .field
                = f.hidden_field :full_name, value: "Standard Will"
              .field
                = f.hidden_field :email_address, value: @user.email
              .field
                = f.hidden_field :will_iden, value: @will.id
              .field
                - if @will.mirror_will == 'yes'
                  = f.hidden_field :price, value: "60"
                - else
                  = f.hidden_field :price, value: "30"
              .actions
                = f.submit 'Purchase', class: "button radius"
        %td.purchase
          .order-form
            = form_for @order do |f|

              .field
                = f.hidden_field :full_name, value: "Gold Service Will"
              .field
                = f.hidden_field :email_address, value: @user.email
              .field
                = f.hidden_field :will_iden, value: @will.id
              .field
                - if @will.mirror_will
                  = f.hidden_field :price, value: "60"
                - else 
                  = f.hidden_field :price, value: "120"
                = f.hidden_field :gold, value: true
              .actions
                = f.submit 'Purchase', class: "button radius"
