%h1 Your Final Will is ready
- if @will.order && @will.order.status == "Completed"
  %hr
  %p You can download your will below at any time
  %hr

  #page-one.purchase
    .page
      .intro
        = image_tag("logo.png")
        %p 
          Last Will and Testament
          %br
          of
          %br
          = @testator_details.full_name
  %hr

  %h3 Download

  %hr
  = link_to("Download here", will_final_will_path(@will, :format => 'pdf'), class: "button radius", download: "will")
- else
  %p You can purchase your will now and download at any time in the future
  %hr

  #page-one.purchase
    .page
      .intro
        = image_tag("logo.png")
        %p 
          Last Will and Testament
          %br
          of
          %br
          = @testator_details.full_name
  %hr

  %h3 Purchase options

  %hr

  %h4 Regular Service
  %p The will will be etc. please provide text

  = form_for @order do |f|

    .field
      = f.hidden_field :full_name, value: "Standard Will"
    .field
      = f.hidden_field :email_address, value: @user.email
    .field
      = f.hidden_field :will_id, value: @will.id
    .field
      = f.hidden_field :price, value: "35"
    .actions
      = f.submit 'Purchase will', class: "button radius"

  %hr
  %h4 Gold Service
  %p The will will be etc. please provide text

  = form_for @order do |f|

    .field
      = f.hidden_field :full_name, value: "Gold Service Will"
    .field
      = f.hidden_field :email_address, value: @user.email
    .field
      = f.hidden_field :will_id, value: @will.id
    .field
      = f.hidden_field :price, value: "65"
    .actions
      = f.submit 'Purchase will', class: "button radius"