%h1 Your Final Will is ready
- if @will.order && @will.order.status == "Completed"
  %hr
  %p You can download your will below at any time
  %hr

  #page-one.purchase
    .page
      .intro
        = image_tag("logo.png")
        %p 
          Last Will and Testament
          %br
          of
          %br
          = @testator_details.full_name
      .protocol
        %p Protocol Z1000
  %hr

  %h3 Download

  %hr
  = link_to("Download here", will_final_will_path(@will, :format => 'pdf'), class: "button radius", download: "will")
- else
  %p You can purchase your will now and download at any time in the future
  %hr

  #page-one.purchase
    .page
      .intro
        = image_tag("logo.png")
        %p 
          Last Will and Testament
          %br
          of
          %br
          = @testator_details.full_name
      .protocol
        %p Protocol Z1000
  %hr

  %h3 Purchasing options

  %hr

  %table.order-comp
    %thead
      %tr
        %th.blank.title
        %th Express Service
        %th Gold Service
    %tbody
      %tr
        %td.title Will be emailed to you instantly
        %td.true
        %td
      %tr.odd
        %td.title Instructions for signing
        %td.true
        %td.true
      %tr
        %td.title We keep a copy on file
        %td.true
        %td.true
      %tr.odd
        %td.title Review within 48 hours by a qualified lawyer
        %td
        %td.true
      %tr
        %td.title Two bound wills posted to you
        %td
        %td.true 
      %tr.odd
        %td.title Electronic copy emailed to you
        %td.true
        %td.true
      %tr
        %td.title Free storage for your signed will
        %td
        %td.true
      %tr.odd
        %td
        %td.price £30
        %td.price £60

  .order-form.left
    = form_for @order do |f|

      .field
        = f.hidden_field :full_name, value: "Standard Will"
      .field
        = f.hidden_field :email_address, value: @user.email
      .field
        = f.hidden_field :will_id, value: @will.id
      .field
        = f.hidden_field :price, value: "30"
      .actions
        = f.submit 'Purchase express service will', class: "button radius"

  .order-form.left
    = form_for @order do |f|

      .field
        = f.hidden_field :full_name, value: "Gold Service Will"
      .field
        = f.hidden_field :email_address, value: @user.email
      .field
        = f.hidden_field :will_id, value: @will.id
      .field
        = f.hidden_field :price, value: "60"
      .actions
        = f.submit 'Purchase gold service will', class: "button radius"