= render 'header'
= form_for [@will, @charitable_donation] do |f|

  = render "layouts/radio_buttons", :f => f, radio_button: :popular_charity, q_no: "07020", option: {true: "Yes", false: "No"}, selected: 0
  %div{"data-condition" => ":checked", "data-false" => "hide", "data-require" => "#charitable_donation_popular_charity_true", "data-true" => "show"}
    = render "layouts/select_list", :f => f, select_list: :popular_charity_name, q_no: "07030", options: {"Arts Council England"  => "Arts Council England, registered charity number 1036733" , "British Heart Foundation" => "British Heart Foundation, registered charity number 225971", "Families Need Fathers" => "Families Need Fathers, registered charity number 276899", "The Salvation Army" => "The Salvation Army, registered charity number 214779", "The Royal Society for the Prevention of Cruelty to Animals" => "The Royal Society for the Prevention of Cruelty to Animals, registered charity number 219099", "RNLI" => "RNLI, registered charity number 209603", "The Stroke Association" => "The Stroke Association, registered charity number 211015", "Guide Dogs for the Blind" => "Guide Dogs for the Blind, registered charity number 209617"}

  %div{"data-condition" => ":checked", "data-false" => "show", "data-require" => "#charitable_donation_popular_charity_true", "data-true" => "hide"}
    = render "layouts/text_field", :f => f, text_field: :name, origin: @charitable_donation
    = render "layouts/text_field", :f => f, text_field: :registered_charity_number, origin: @charitable_donation, label_text: "Registration number"
    = render "layouts/text_field", :f => f, text_field: :address_one, origin: @charitable_donation
    = render "layouts/text_field", :f => f, text_field: :address_two, origin: @charitable_donation
    = render "layouts/text_field", :f => f, text_field: :city, origin: @charitable_donation
    = render "layouts/text_field", :f => f, text_field: :county, origin: @charitable_donation
    = render "layouts/text_field", :f => f, text_field: :postcode, origin: @charitable_donation
    = render "layouts/text_field", :f => f, text_field: :country, origin: @charitable_donation
  
  = render "layouts/text_field", :f => f, text_field: :amount, q_no: "07040", origin: @charitable_donation

  = render "layouts/text_area", :f => f, text_area: :instruction, advice_text: "You may specify a non-binding purpose for the gift but it is generally advised to leave this box blank so that the charity can put your gift towards any use and ensure it does not take effect if the charity is unable to comply with your request.", q_no: "07050"
  
  = f.submit 'Proceed', class: "button radius right"
  = link_to 'Discard', new_will_charity_permission_path, class: "button radius cancel-forward"

      