= render 'header'
%h4 Third Executor

= form_for [@will, @executor] do |f|
  = f.fields_for :third_executor_general_detail do |builder|
    = render "general_details/general_details_form", :builder => builder, :nested_origin => @executor.third_executor_general_detail
  .field.add-more-option
    .left
      = question "03050"
      = f.check_box :forth

    = f.hidden_field :exec, value: "third"
    = f.submit 'Proceed', class: "button radius proceed-js right"
.button-region
  = form_for [@will, @executor] do |f|
    = f.hidden_field :exec, value: "third"
    = f.hidden_field :third, value: false
    = f.submit 'Remove this executor', class: "cancel-forward button radius right"