%p
  %em INVOICE NUMBER W01000
%p
  %em
    DATE
    = Time.now.to_datetime.strftime("%D")
%p
  %em
    PAID £
    = @will.order.price
%p= "Dear #{@will.testator_general_details.full_name},"
%p
  Thank you for using our Wills Express service to create your will. Attached to this email is your will and some guidance notes.
  %strong The  guidance notes explain how to sign your will in accordance with the  requirements of the law so please ensure you read these.
%p
  We hope that you are happy with your will and if you wish to review it in future just log in to Wills Express using your existing login details or email
  %a{:href => "mailto:contact@expresswill.co.uk"} contact@expresswill.co.uk
%p We recommend reviewing your will at least every 5 years or when there is a change to your personal circumstances such as a divorce, marriage, significant change in assets or the birth of a child.
%p Best wishes,
%p
  %strong> NOTARY  EXPRESS
  LAW FIRM regulated by the Faculty Office of the Archbishop of Canterbury
  %br
  27 Chalk Hill Road
  %br
  Norwich, NR1 1SL
  %br
  ENGLAND
%p
  Company number 8347115
  = succeed "\u{a0}Website:" do
    %br/
  = succeed "\u{a0}" do
    %a{:href => "www.notaryexpress.co.uk"} www.notaryexpress.co.uk
  = succeed "\u{a0}Wills:" do
    %br/
  %a{:href => "www.expresswill.co.uk"} www.expresswill.co.uk
  = succeed "\u{a0}Notarial" do
    %br/