= render "layouts/text_field", :f => builder, text_field: :first_name, origin: nested_origin
= render "layouts/text_field", :f => builder, text_field: :middle_name, origin: nested_origin
= render "layouts/text_field", :f => builder, text_field: :surname, origin: nested_origin
= render "layouts/text_field", :f => builder, text_field: :address_one, origin: nested_origin
= render "layouts/text_field", :f => builder, text_field: :address_two, origin: nested_origin
= render "layouts/text_field", :f => builder, text_field: :city, origin: nested_origin
= render "layouts/text_field", :f => builder, text_field: :county, origin: nested_origin
= render "layouts/text_field", :f => builder, text_field: :postcode, origin: nested_origin
= render "layouts/text_field", :f => builder, text_field: :country, origin: nested_origin