- provide(:title, "Cash Gifts")

= render 'header'

- if @cash_gifts.any?
  %table
    %thead
      %tr
        %th 
          %h5 Cash Gift
        %th 
          %h5 Amount
        %th
    %tbody
      - @cash_gifts.each_with_index do |cash_gift, i|
        %tr
          %td
            - if cash_gift.shared_to == "all_of_my_children"
              = will_link(cash_gift, "Children", "nothing")
            - elsif cash_gift.shared_to == "all_of_my_grandchildren"
              = will_link(cash_gift, "Grandchilden", "nothing")
            - else
              = will_link(cash_gift, cash_gift.full_name, "nothing")
          %td= cash_gift.amount
          %td= link_to 'Delete', [@will, cash_gift], :method => :delete

= link_to("Add Cash Gift", new_will_cash_gift_path, class: "button radius")
= link_to("Proceed", option_will_charitable_donations_path(@will), class: "button radius right")
