
= form_for [@will, @residuary_detail] do |f|

  =# render "layouts/select_list", :f => f, select_list: :certain_age, q_no: "10030", options: ["no"] + (16..40).to_a.map {|i| i.to_s}, label_text: "Certain Age"
  =# render "layouts/select_list", :f => f, select_list: :if_dead_certain_age, q_no: "10050", options: ["no"] + (16..40).to_a.map {|i| i.to_s}, label_text: "Certain Age"

  = render "layouts/select_list", :f => f, select_list: :residuary_type, q_no: "10010", options: ["Individual" , "My children", "My grandchildren"  , "Charity"], label_text: "Residuary type", label_text: "Beneficiary type"
  = f.hidden_field :count, value: @will.residuary_details.count+1


  .togglin
    %div
      = f.submit 'Proceed', class: "button radius right"

    %div
      - if @will.residuary_details.where(complete: true).any?
        = f.submit 'I do not wish to specify another beneficiary', class: "button radius cancel-forward modal-cancel"
      - else
        = f.submit 'I do not wish to specify a beneficiary', class: "button radius cancel-forward modal-cancel", :onclick => "return confirm('It is strongly advisable to appoint an executor. Are you sure you wish to proceed without appointing an executor?')"