= render 'header'
= form_for [@will, @residuary_detail] do |f|
  
  #clicking_this
    = f.fields_for :charity_residuary_general_detail do |builder|
      //= render "layouts/radio_buttons", :f => builder, radio_button: :popular_charity, q_no: "07020", option: {true: "Yes", false: "No"}, selected: 0
      = render "layouts/radio_buttons", :f => builder, radio_button: :popular_charity, q_no: "07020", option: {true: "Yes", false: "No"}, selected: 0
  
  %div.hide_a{"data-condition" => ":checked", "data-false" => "hide", "data-require" => "#residuary_detail_charity_residuary_general_detail_attributes_popular_charity_true", "data-true" => "show"}
    = render "layouts/select_list", :f => f, select_list: :popular_charity_name, q_no: "07030", options: {"Arts Council England"  => "Arts Council England, Registered Charity Number 8768766" , "British Heart Foundation" => "British Heart Foundation, Registered Charity Number 8768766" , "Cancer Research UK" => "Cancer Research UK, Registered Charity Number 8768766" , "Families Need Fathers" => "Families Need Fathers, Registered Charity Number 276899" , "Macmillan" => "Macmillan, Registered Charity Number 8768766" , "Royal Society for the Blind" => "Royal Society for the Blind, Registered Charity Number 8768766" , "Royal Society for the Prevention of Cruelty to Animals" => "Royal Society for the Prevention of Cruelty to Animals, Registered Charity Number 8768766" , "The Salvation Army" => "The Salvation Army, Registered Charity Number 8768766" , "Variety Club" => "Variety Club, Registered Charity Number 8768766" , "Zoological Society of London" => "Zoological Society of London, Registered Charity Number 8768766"}, label_text: "Charity Name", selected: "Families Need Fathers"

  %div.hide_b{"data-condition" => ":checked", "data-false" => "hide", "data-require" => "#residuary_detail_charity_residuary_general_detail_attributes_popular_charity_true", "data-true" => "show"}
    = f.fields_for :charity_residuary_general_detail do |builder|
      = render "charity_details/charity_details_form", :builder => builder, :nested_origin => @residuary_detail.charity_residuary_general_detail

  - @option ||= ["Equal shares", "Trustees to decide"]
  - @start = 100
  - @residuary_detail.secondary ? @res = @will.residuary_details.where(secondary: true) : @res = @will.residuary_details.where(secondary: false)
  - @res.each { |x| @start -= x.share.gsub('%','').to_i if x.share.present? } 
  = render "layouts/select_list", :f => f, select_list: :share, q_no: "10020", options: @option + (1..@start).to_a.map {|i| "#{i.to_s}%"}

  = f.hidden_field :complete, value: true
  .button-region
    = f.submit 'Proceed', class: "button radius right" 


