= render 'header'
= form_for [@will, @residuary_detail] do |f|
  
  #clicking_this
    = f.fields_for :charity_residuary_general_detail do |builder|
      //= render "layouts/radio_buttons", :f => builder, radio_button: :popular_charity, q_no: "07020", option: {true: "Yes", false: "No"}, selected: 0
      = render "layouts/radio_buttons", :f => builder, radio_button: :popular_charity, q_no: "07020", option: {true: "Yes", false: "No"}, selected: 0
  
  %div.hide_a{"data-condition" => ":checked", "data-false" => "hide", "data-require" => "#residuary_detail_charity_residuary_general_detail_attributes_popular_charity_true", "data-true" => "show"}
    = render "layouts/select_list", :f => f, select_list: :popular_charity_name, q_no: "07030", options: {"Arts Council England"  => "Arts Council England, registered charity number 1036733" , "British Heart Foundation" => "British Heart Foundation, registered charity number 225971", "Families Need Fathers" => "Families Need Fathers, registered charity number 276899", "The Salvation Army" => "The Salvation Army, registered charity number 214779", "The Royal Society for the Prevention of Cruelty to Animals" => "The Royal Society for the Prevention of Cruelty to Animals, registered charity number 219099", "RNLI" => "RNLI, registered charity number 209603", "The Stroke Association" => "The Stroke Association, registered charity number 211015", "Guide Dogs for the Blind" => "Guide Dogs for the Blind, registered charity number 209617"}, label_text: "Charity Name", selected: "Families Need Fathers, registered charity number 276899"

  %div.hide_b{"data-condition" => ":checked", "data-false" => "hide", "data-require" => "#residuary_detail_charity_residuary_general_detail_attributes_popular_charity_true", "data-true" => "show"}
    = f.fields_for :charity_residuary_general_detail do |builder|
      = render "charity_details/charity_details_form", :builder => builder, :nested_origin => @residuary_detail.charity_residuary_general_detail

  - @option ||= ["Equal shares", "Trustees to decide"]
  - @start = 100
  - @residuary_detail.secondary ? @res = @will.residuary_details.where(secondary: true) : @res = @will.residuary_details.where(secondary: false)
  - @res.each { |x| @start -= x.share.gsub('%','').to_i if x.share.present? } 
  = render "layouts/select_list", :f => f, select_list: :share, q_no: "10020", options: @option + (1..@start).to_a.map {|i| "#{i.to_s}%"}

  = f.hidden_field :complete, value: true
  .button-region
    = f.submit 'Proceed', class: "button radius right" 


