- provide(:title, "Residuaries")

= render 'header'

- if @residuary_details.any?
  - @correct_total = false
  - @total_percent = 0
  - @residuary_details.where(secondary: false).each do |x|
    - if x.share == "Equal shares" || x.share == "Trustees to decide"
      - @correct_total = true 
    - else
      - @total_percent += x.share.gsub('%','').to_i

  - unless @correct_total == true || @total_percent == 100
    %p.warning Please review the gifts in your residuary. The share distributed must total 100% or have at least one beneficiary receiving equal shares or the trustees to decide. 


- if @residuary_details.where(secondary: false).any?
  %h4 Primary Beneficiaries
  %table
    %thead
      %tr
        %th 
          %h5 Residuary
        %th 
          %h5 Share
        %th
    %tbody
      - @residuary_details.where(secondary: false).each_with_index do |residuary_detail, i|
        %tr
          %td
            - if residuary_detail.residuary_type == "Individual"
              = will_link(residuary_detail, "#{residuary_detail.individual_residuary_general_detail.full_name}", "nothing")
            - elsif residuary_detail.residuary_type == "Charity"
              = will_link(residuary_detail, "#{residuary_detail.charity_residuary_general_detail.name}", "nothing")
            - else
              = will_link(residuary_detail, "#{residuary_detail.residuary_type}", "nothing")
          %td= residuary_detail.share
          %td
            - if @residuary_details.where(secondary: false).count == 1 && @residuary_details.where(secondary: true).any?
              = link_to 'Delete', [@will, residuary_detail], :method => :delete, :data => { :confirm => 'Deleting your final beneficiary will erase your secondary beneficiaries also. Are you sure?' }
            - else 
              = link_to 'Delete', [@will, residuary_detail], :method => :delete


- if @residuary_details.where(secondary: true).any?
  %h4 Secondary Beneficiaries
  %table
    %thead
      %tr
        %th 
          %h5 Residuary
        %th 
          %h5 Share
        %th
    %tbody
      - @residuary_details.where(secondary: true).each_with_index do |residuary_detail, i|
        %tr
          %td
            - if residuary_detail.residuary_type == "Individual"
              = will_link(residuary_detail, "#{residuary_detail.individual_residuary_general_detail.full_name}", "nothing")
            - elsif residuary_detail.residuary_type == "Charity"
              = will_link(residuary_detail, "#{residuary_detail.charity_residuary_general_detail.name}", "nothing")
            - else
              = will_link(residuary_detail, "#{residuary_detail.residuary_type}", "nothing")
          %td= residuary_detail.share
          %td= link_to 'Delete', [@will, residuary_detail], :method => :delete

= link_to("Add Beneficiary", new_will_residuary_detail_path, class: "button radius")
- if @residuary_details.where(secondary: false).any? && @will.residuary
  = link_to("Add Secondary Beneficiary", secondary_will_residuary_details_path(@will), class: "button radius")
- if @correct_total == true || @total_percent == 100
  - if @will.residuary
    = link_to("Proceed", new_will_request_path, class: "button radius right")
  - else
    = link_to("Proceed", new_will_residuary_path, class: "button radius right")
- unless @residuary_details.any?
  = link_to("Continue without saving", new_will_residuary_path, class: "button radius cancel-forward")