- if defined? q_no
  .row
    .small-12.column
      %dl
        %dt= question q_no
      -if defined? advice_text    
        %p.advice-text= advice_text
.row.collapse
  .small-3.columns
    %span.prefix
      -if defined? label_text
        = f.label select_list, label_text
      -else
        = f.label select_list
  .small-9.columns
    - if defined? selected
      = f.select select_list, options, selected: selected
    - else
      = f.select select_list, options