!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= full_title(yield(:title)) 

    = stylesheet_link_tag "application"

    = csrf_meta_tag

  %body{class: "#{yield(:bodyclass)}"}
  
    .cover-back
    
    - if request.path == "/"
      %nav.top-bar{role:"navigation"}
        = render "layouts/top_bar"
      #content.row
        .small-12.columns
          - flash.each do |key, value|
            %div{:class => "alert-box #{key}"}= value
          = yield
    - else 
      %nav.row{role:"navigation"}
        = render "layouts/top_bar"
      #content.row
        - if signed_in?
          
          .small-3.columns
            = render 'layouts/sidebar'
          .small-9.columns
            - flash.each do |key, value|
              %div{:class => "alert-box #{key}"}= value
            = yield
        - else
          .small-3.columns
            `
          .small-6.columns
            - flash.each do |key, value|
              %div{:class => "alert-box #{key}"}= value
            = yield
          .small-3.columns
            -
      %footer.row
        #footer
          © 2015 Notary Express Ltd. All Rights Reserved. Vat No. 217292218. Company Reg. 8347115

    = javascript_include_tag "application"
    = javascript_include_tag "vendor/modernizr"
